# Ignore everything
*

# But descend into directories

# Recursively allow files under subtree¨
!gatsby-node.js
!normalize.js
!config.js
!validation.js
!itemNodes.js
!typeNodes.js
!typeNodesSchema.js
!decorators/languageVariantsDecorator.js
!decorators/typeItemDecorator.js
!decorators/richTextElementDecorator.js
!decorators/linkedItemsElementDecorator.js
!decorators/urlSlugElementDecorator.js

!package.json
!.npmignore
!README.md
