@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.article {
    @include margin-bottom(1.25);
    &:last-child {
        @include margin-bottom(.5);
    }
    &__title {
        font-size: $typographic-base-font-size * 1.6875;
        @include line-height(1.5);
        @include margin-top(0);
        @include margin-bottom(.5);
        &-link {
            color: $color-base;
            &:hover,
            &:focus {
                color: $color-base;
                border-bottom: 1px solid $color-base;
            }
        }
    }
    &__description {
        font-size: $typographic-base-font-size;
        @include line-height(1);
        @include margin-bottom(.75);
    }
    &__meta {
        &-time {
            font-size: $typographic-small-font-size;
            color: $color-base;
            font-weight: 500;
            text-transform: uppercase;
        }
        &-divider {
            margin: 0 5px;
        }
        &-category {
            &-link {
                font-size: $typographic-small-font-size;
                color: $color-secondary;
                font-weight: 500;
                text-transform: uppercase;
                &:hover,
                &:focus {
                    color: $color-primary;
                }
            }
        }
    }
    &__readmore {
        font-size: $typographic-base-font-size;
        color: $color-primary;
        &:hover,
        &:focus {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }
}