@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
    @include margin-bottom(2);
    &__title {
        font-size: $typographic-base-font-size * 2.5;
        font-weight: 500;
        @include line-height(2);
        @include margin-top(0);
        @include margin-bottom(1.45);
    }
    &__body {
        font-size: $typographic-base-font-size;
        @include line-height(1);
        @include margin(0, 0, 1);
    }
}
